<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">残業申請</h1>
    </div>
    <div class="modal-body">
      <%= form_with(model: [@user, @attendance], url: user_attendance_update_overwork_reqest_path(@user, @attendance), local: true, method: :patch) do |f| %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>翌日</th>
              <th>業務処理内容</th>
              <th>指示者確認印</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :attendances do |attendance| %>
              <tr>
                <td><%= l(@attendance.worked_on, format: :short) %></td>
                <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
                <td><%= f.time_select :scheduled_end_time, class: 'form-control' %></td>
                <td><%= f.check_box :next_day, id: "test" %></td>
                <td><%= f.text_field :work_description, class: 'form-control' %></td>
                <td>
                  <select>
                    <option value="3"></option>
                    <option value="3">上長A</option>
                    <option value="3">上長B</option>
                  </select>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= f.submit "送信する", class: "btn-btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
